.table {
  overflow: hidden;
}
.search-bar {
  width: 320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  @media (max-width: 900px) {
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 50px;
  }
}
