body {
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;

  font-family: "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  border: 15px solid #6d8211;
  border-radius: 20px;
}
