@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;

  font-family: "Montserrat", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 900px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  border: 15px solid #6d8211;
  border-radius: 20px;
}
