.home-page {
  margin-top: 40px;
  border: 15px solid #6d8211;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#first-name {
  height: 50px;
}

input,
select,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.address {
  display: flex;
  flex-direction: column;
}
